@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Now Display";
    src: url("/fonts/HelveticaNowDisplay-Bold.otf");
}

@font-face{
    font-family: "Roboto";
    src: url("/fonts/RobotoFlex-VariableFont.ttf");
}

h1,h2,h3,h4{
    @apply font-big;
    font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
}

h5,h6{
    @apply font-small;
    font-feature-settings: "calt" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss01" 1, "ss06" 1, "liga" 1;
}

input[type="search"]::-webkit-search-cancel-button{
    appearance: none;
}

hr{
    @apply border-ddd bg-transparent;
    border-width: 1px
}